@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.rainy{
    position: relative;
    overflow: hidden;
}
.rainy::before{
    content: '';
    position: absolute;
    background-image: url('./assets/rain.jpg');
    background-position: top center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .35;
}
.cloudy{
    position: relative;
    overflow: hidden;
}
.cloudy::before{
    content: '';
    position: absolute;
    background-image: url('./assets/clouds.jpg');
    background-position: top center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .5;
}
.clear{
    position: relative;
    overflow: hidden;
}
.clear::before{
    content: '';
    position: absolute;
    background-image: url('./assets/sunny.jpg');
    background-position: top center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .5;
}
.snow{
    position: relative;
    overflow: hidden;
}
.snow::before{
    content: '';
    position: absolute;
    background-image: url('./assets/snowy.jpg');
    background-position: top center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .5;
}
.haze{
    position: relative;
    overflow: hidden;
}
.haze::before{
    content: '';
    position: absolute;
    background-image: url('./assets/haze.jpg');
    background-position: top center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .35;
}
.misty{
    position: relative;
    overflow: hidden;
}
.misty::before{
    content: '';
    position: absolute;
    background-image: url('./assets/mist.jpg');
    background-position: top center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .35;
}
.sand{
    position: relative;
    overflow: hidden;
}
.sand::before{
    content: '';
    position: absolute;
    background-image: url('./assets/sand.jpg');
    background-position: top center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .35;
}
.default{
    position: relative;
    overflow: hidden;
}
.default::before{
    content: '';
    position: absolute;
    background-image: url('./assets/default.jpg');
    background-position: top center;
    background-size: cover;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: .35;
}
h1{
    font-size: 5rem;
    font-family: 'Big Shoulders Display', cursive;

}
h2{
    font-size: 2.7rem;
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 1rem;

}
h3{
    font-size: 2.1rem;
    font-family: 'Raleway', sans-serif; 
}
.grid{
    min-height: 350px;
    width: 75%;
    position: relative;
    bottom: 11%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 170px 30px 150px;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
        "search"
        "temp"
        "city"
        "desc";
}
.forecast{
    color: gainsboro;
    position: relative;
    filter: drop-shadow(2px 4px 3px black);
}
@media (max-width:600px){
    h3{
        font-size: 1.1rem;
    }
    .snow::before{
        background-position: top right;
    }
    .rainy::before{
        background-position: top right;
    }
    .default::before{
        background-position: bottom right;
    }
}
.loading{
    font-family: 'Raleway', sans-serif; 
    font-size: 3rem;
    font-weight: bolder;
}
.no-container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.Input{
    margin-right: 1rem;
    width: 150px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.fa-arrows{
    font-size: 1.7rem;
    margin-right: .5rem;
}